*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
header{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
header li{
    
    color: white;
    list-style: none;
    padding: 5px 10px;
    
}